<form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()">
  <div *ngIf="loading" class="overlay">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
  <div class="row">
    <label for="description">Descrição</label>
    <input
      type="text"
      id="description"
      formControlName="description">
    <div *ngIf="submitTry && newTaskForm.controls.description.invalid" class="validity-message">
      Este campo deve ser preenchido
    </div>
  </div>
  <div class="row">
    <label for="date">Data</label>
    <input
      type="date"
      id="date"
      formControlName="date">
    <div *ngIf="submitTry && newTaskForm.controls.date.invalid" class="validity-message">
      Este campo deve ser preenchido
    </div>
  </div>
  <div class="row">
    <button
      class="save-button"
      type="submit">
      Salvar
    </button>
  </div>
</form>
